@import "../styles/animation.scss";

.new-chat {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .mask-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    animation: slide-in-from-top ease 0.3s;
  }

  .mask-cards {
    display: flex;
    margin-top: 5vh;
    margin-bottom: 20px;
    animation: slide-in ease 0.3s;

    .mask-card {
      padding: 20px 10px;
      border: var(--border-in-light);
      box-shadow: var(--card-shadow);
      border-radius: 14px;
      background-color: var(--white);
      transform: scale(1);

      &:first-child {
        transform: rotate(-15deg) translateY(5px);
      }

      &:last-child {
        transform: rotate(15deg) translateY(5px);
      }
    }
  }

  .logo {
    width: 150px;
    height: 150px;
    margin-top: 50px;
    display: inline-flex;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .title {
    font-size: 32px;
    font-weight: bolder;
    margin-bottom: 1vh;
    animation: slide-in ease 0.35s;
  }

  .sub-title {
    animation: slide-in ease 0.4s;
  }

  .actions {
    margin-top: 5vh;
    margin-bottom: 2vh;
    animation: slide-in ease 0.45s;
    display: flex;
    justify-content: center;
    font-size: 12px;

    .skip {
      margin-left: 10px;
    }
  }

  .masks {
    flex-grow: 1;
    width: 100%;
    overflow: auto;
    align-items: center;
    padding-top: 20px;

    // $linear: linear-gradient(
    //   to bottom,
    //   rgba(0, 0, 0, 0),
    //   rgba(0, 0, 0, 1),
    //   rgba(0, 0, 0, 0)
    // );

    // -webkit-mask-image: $linear;
    // mask-image: $linear;

    animation: slide-in ease 0.5s;

    .mask-row {
      display: flex;
      justify-content: center;
      margin-bottom: 10px;

      // @for $i from 1 to 10 {
      //   &:nth-child(#{$i * 2}) {
      //     margin-left: 50px;
      //   }
      // }

      .mask-box {
        width: 60%;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        position: relative;
        flex-wrap: wrap;

        .mask {
          display: flex;
          align-items: center;
          padding: 10px 14px;
          border: var(--border-in-light);
          box-shadow: var(--card-shadow);
          background-color: var(--white);
          border-radius: 10px;
          margin: 10px;
          width: 10em;
          transform: scale(1);
          cursor: pointer;
          transition: all ease 0.3s;
  
          &:hover {
            transform: translateY(-5px) scale(1.1);
            z-index: 999;
            border-color: var(--primary);
          }
  
          .mask-name {
            margin-left: 10px;
            font-size: 14px;
          }
        }
      }
    }
  }
  .chat-input-panel {
    position: relative;
    width: 100%;
    height: 180px;
    padding: 50px;
    padding-top: 10px;
    box-sizing: border-box;
    flex-direction: column;
    // border-top: var(--border-in-light);
    // box-shadow: var(--card-shadow);
  
    .chat-input-actions {
      .chat-input-action {
        margin-bottom: 10px;
      }
    }
  }
  
  @mixin single-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .prompt-hints {
    min-height: 20px;
    width: 100%;
    max-height: 50vh;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
  
    background-color: var(--white);
    border: var(--border-in-light);
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: var(--shadow);
  
    .prompt-hint {
      color: var(--black);
      padding: 6px 10px;
      animation: slide-in ease 0.3s;
      cursor: pointer;
      transition: all ease 0.3s;
      border: transparent 1px solid;
      margin: 4px;
      border-radius: 8px;
  
      &:not(:last-child) {
        margin-top: 0;
      }
  
      .hint-title {
        font-size: 12px;
        font-weight: bolder;
  
        @include single-line();
      }
  
      .hint-content {
        font-size: 12px;
  
        @include single-line();
      }
  
      &-selected,
      &:hover {
        border-color: var(--primary);
      }
    }
  }
  
  .chat-input-panel-inner {
    cursor: text;
    display: flex;
    flex: 1;
    border-radius: 10px;
    border: var(--border-in-light);
    height: 100%;
  }
  
  .chat-input-panel-inner-attach {
    padding-bottom: 80px;
  }
  
  .chat-input-panel-inner:has(.chat-input:focus) {
    border: 1px solid var(--primary);
  }
  
  .chat-input {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: none;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.03);
    background-color: var(--white);
    color: var(--black);
    font-family: inherit;
    padding: 10px 90px 10px 14px;
    resize: none;
    outline: none;
    box-sizing: border-box;
    min-height: 68px;
  }
  
  .chat-input:focus {
  }
  
  .chat-input-send {
    background-color: var(--primary);
    color: white;
  
    width: 45px;
    height: 45px;
  
    position: absolute;
    right: 60px;
    bottom: 60px;
    border-radius: 35%;
  }
}
